###############################################################################
# Dental Healthcare Management System
# Docker Build Ignore Configuration
# Laravel 12 Production Foundation
###############################################################################


###############################################################################
# Environment Secrets
###############################################################################

.env

.env.*

!.env.example



###############################################################################
# Git Files
###############################################################################

.git

.gitignore



###############################################################################
# Documentation
###############################################################################

README.md

docs/

*.md



###############################################################################
# Development Dependencies
###############################################################################

node_modules/

npm-debug.log

yarn-error.log


vendor/



###############################################################################
# Testing Files
###############################################################################

tests/

.phpunit.result.cache



###############################################################################
# Runtime Storage
###############################################################################

storage/logs/

storage/framework/cache/

storage/framework/sessions/

storage/framework/views/



###############################################################################
# Local Development Files
###############################################################################

docker-compose.override.yml


.vscode/

.idea/



###############################################################################
# Operating System Files
###############################################################################

.DS_Store

Thumbs.db



###############################################################################
# Temporary Files
###############################################################################

*.tmp

*.temp

*.log



###############################################################################
# Frontend Build Output
###############################################################################

public/hot

public/storage



###############################################################################
# Backup Files
###############################################################################

*.backup

*.bak

*.dump