###############################################################################
# Dental Healthcare Management System
# Editor Configuration
# Cross Platform Development Standard
###############################################################################


root = true



###############################################################################
# Default
###############################################################################

[*]

charset = utf-8

end_of_line = lf

insert_final_newline = true

trim_trailing_whitespace = true



###############################################################################
# PHP Files
###############################################################################

[*.php]

indent_style = space

indent_size = 4



###############################################################################
# JSON Files
###############################################################################

[*.json]

indent_style = space

indent_size = 4



###############################################################################
# YAML Files
###############################################################################

[*.yml]

indent_style = space

indent_size = 2


[*.yaml]

indent_style = space

indent_size = 2



###############################################################################
# Markdown Files
###############################################################################

[*.md]

trim_trailing_whitespace = false



###############################################################################
# JavaScript / TypeScript
###############################################################################

[*.{js,ts}]

indent_style = space

indent_size = 2



###############################################################################
# Flutter / Dart Support
###############################################################################

[*.dart]

indent_style = space

indent_size = 2



###############################################################################
# Shell Script
###############################################################################

[*.sh]

end_of_line = lf

indent_style = space

indent_size = 2