###############################################################################
# Dental Healthcare Management System
# Git Attributes Configuration
# Production Repository Foundation
###############################################################################


###############################################################################
# Default Text Handling
###############################################################################

* text=auto



###############################################################################
# Source Code Files
###############################################################################

*.php text eol=lf

*.json text eol=lf

*.yml text eol=lf

*.yaml text eol=lf

*.env.example text eol=lf



###############################################################################
# Docker Files
###############################################################################

Dockerfile text eol=lf

*.conf text eol=lf



###############################################################################
# Shell Scripts
###############################################################################

*.sh text eol=lf



###############################################################################
# Flutter / Dart Support
###############################################################################

*.dart text eol=lf



###############################################################################
# Documentation
###############################################################################

*.md text eol=lf



###############################################################################
# Database Files
###############################################################################

*.sql text eol=lf



###############################################################################
# Binary Files
###############################################################################

*.png binary

*.jpg binary

*.jpeg binary

*.gif binary

*.ico binary

*.pdf binary



###############################################################################
# Archive Files
###############################################################################

*.zip binary

*.tar binary

*.gz binary



###############################################################################
# GitHub Export
###############################################################################

.gitattributes export-ignore

.gitignore export-ignore