###############################################################################
# Dental Healthcare Management System
# Git Ignore Configuration
# Laravel 12 Production Project
###############################################################################


###############################################################################
# Environment & Secrets
###############################################################################

.env

.env.*

!.env.example


*.key

*.pem

*.crt


storage/app/firebase/service-account.json



###############################################################################
# Laravel Dependencies
###############################################################################

/vendor/



###############################################################################
# Node Dependencies
###############################################################################

node_modules/

npm-debug.log

yarn-error.log



###############################################################################
# Laravel Runtime Files
###############################################################################

/storage/logs/*

/storage/framework/cache/*

/storage/framework/sessions/*

/storage/framework/views/*


/bootstrap/cache/*



###############################################################################
# User Uploaded Healthcare Data
###############################################################################

/storage/app/public/uploads/

/storage/app/private/


# Dental Images

/storage/app/dental-images/


# Patient Documents

/storage/app/patient-documents/



###############################################################################
# Database
###############################################################################

*.sql

*.sql.gz

*.dump


database/*.sqlite



###############################################################################
# Testing
###############################################################################

.phpunit.result.cache


coverage/


tests/_output/



###############################################################################
# IDE Configuration
###############################################################################

.vscode/

.idea/


*.sublime-project

*.sublime-workspace



###############################################################################
# Operating System
###############################################################################

.DS_Store

Thumbs.db



###############################################################################
# Docker
###############################################################################

docker-compose.override.yml


*.log



###############################################################################
# Laravel Telescope / Debug Tools
###############################################################################

/storage/telescope/



###############################################################################
# Build Files
###############################################################################

public/hot

public/build



###############################################################################
# Temporary Files
###############################################################################

*.tmp

*.temp

*.bak

*.swp

*.swo



###############################################################################
# Backup
###############################################################################

backup/

backups/

*.backup