# Dental Healthcare Management System
# Editor Configuration
# PSR-12 / Laravel 12 Standard


root = true


###############################################################################
# Global Configuration
###############################################################################

[*]

charset = utf-8

end_of_line = lf

insert_final_newline = true

trim_trailing_whitespace = true



###############################################################################
# PHP Files
###############################################################################

[*.php]

indent_style = space

indent_size = 4

continuation_indent_size = 4



###############################################################################
# Blade Templates
###############################################################################

[*.blade.php]

indent_style = space

indent_size = 4



###############################################################################
# JavaScript / TypeScript
###############################################################################

[*.{js,ts,tsx}]

indent_style = space

indent_size = 2



###############################################################################
# JSON
###############################################################################

[*.json]

indent_style = space

indent_size = 4



###############################################################################
# YAML
###############################################################################

[*.{yml,yaml}]

indent_style = space

indent_size = 2



###############################################################################
# CSS / SCSS
###############################################################################

[*.{css,scss,sass}]

indent_style = space

indent_size = 2



###############################################################################
# Markdown
###############################################################################

[*.md]

trim_trailing_whitespace = false



###############################################################################
# Docker
###############################################################################

[Dockerfile]

indent_style = space

indent_size = 4



###############################################################################
# SQL
###############################################################################

[*.sql]

indent_style = space

indent_size = 4